Lab03-Ejecicio4/bin/Debug/net6.0/Lab03-Search0.1.deps.json
Lab03-Ejecicio4/bin/Debug/net6.0/Lab03-Search0.1.dll
Lab03-Ejecicio4/bin/Debug/net6.0/Lab03-Search0.1.exe
Lab03-Ejecicio4/bin/Debug/net6.0/Lab03-Search0.1.pdb
Lab03-Ejecicio4/bin/Debug/net6.0/Lab03-Search0.1.runtimeconfig.json
Lab03-Ejecicio4/obj/Lab03-Search0.1.csproj.nuget.dgspec.json
Lab03-Ejecicio4/obj/Lab03-Search0.1.csproj.nuget.g.props
Lab03-Ejecicio4/obj/Lab03-Search0.1.csproj.nuget.g.targets
Lab03-Ejecicio4/obj/project.assets.json
Lab03-Ejecicio4/obj/project.nuget.cache
Lab03-Ejecicio4/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Lab03-Ejecicio4/obj/Debug/net6.0/apphost.exe
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.AssemblyInfo.cs
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.AssemblyInfoInputs.cache
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.assets.cache
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.csproj.AssemblyReference.cache
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.csproj.CoreCompileInputs.cache
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.csproj.FileListAbsolute.txt
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.dll
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.GeneratedMSBuildEditorConfig.editorconfig
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.genruntimeconfig.cache
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.GlobalUsings.g.cs
Lab03-Ejecicio4/obj/Debug/net6.0/Lab03-Search0.1.pdb
Lab03-Ejecicio4/obj/Debug/net6.0/ref/Lab03-Search0.1.dll
Lab03-Ejecicio4/obj/Debug/net6.0/refint/Lab03-Search0.1.dll
lab03-Ejercicio2/bin/Debug/net6.0/lab03-Search.deps.json
lab03-Ejercicio2/bin/Debug/net6.0/lab03-Search.dll
lab03-Ejercicio2/bin/Debug/net6.0/lab03-Search.exe
lab03-Ejercicio2/bin/Debug/net6.0/lab03-Search.pdb
lab03-Ejercicio2/bin/Debug/net6.0/lab03-Search.runtimeconfig.json
lab03-Ejercicio2/obj/lab03-Search.csproj.nuget.dgspec.json
lab03-Ejercicio2/obj/lab03-Search.csproj.nuget.g.props
lab03-Ejercicio2/obj/lab03-Search.csproj.nuget.g.targets
lab03-Ejercicio2/obj/project.assets.json
lab03-Ejercicio2/obj/project.nuget.cache
lab03-Ejercicio2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
lab03-Ejercicio2/obj/Debug/net6.0/apphost.exe
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.AssemblyInfo.cs
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.AssemblyInfoInputs.cache
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.assets.cache
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.csproj.AssemblyReference.cache
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.csproj.CoreCompileInputs.cache
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.csproj.FileListAbsolute.txt
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.dll
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.GeneratedMSBuildEditorConfig.editorconfig
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.genruntimeconfig.cache
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.GlobalUsings.g.cs
lab03-Ejercicio2/obj/Debug/net6.0/lab03-Search.pdb
lab03-Ejercicio2/obj/Debug/net6.0/ref/lab03-Search.dll
lab03-Ejercicio2/obj/Debug/net6.0/refint/lab03-Search.dll
lab03-Ejercicio3/bin/Debug/net6.0/lab03-.deps.json
lab03-Ejercicio3/bin/Debug/net6.0/lab03-.dll
lab03-Ejercicio3/bin/Debug/net6.0/lab03-.exe
lab03-Ejercicio3/bin/Debug/net6.0/lab03-.pdb
lab03-Ejercicio3/bin/Debug/net6.0/lab03-.runtimeconfig.json
lab03-Ejercicio3/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
lab03-Ejercicio3/obj/Debug/net6.0/apphost.exe
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.AssemblyInfo.cs
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.AssemblyInfoInputs.cache
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.assets.cache
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.csproj.AssemblyReference.cache
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.csproj.CoreCompileInputs.cache
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.csproj.FileListAbsolute.txt
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.dll
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.GeneratedMSBuildEditorConfig.editorconfig
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.genruntimeconfig.cache
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.GlobalUsings.g.cs
lab03-Ejercicio3/obj/Debug/net6.0/lab03-.pdb
lab03-Ejercicio3/obj/Debug/net6.0/ref/lab03-.dll
lab03-Ejercicio3/obj/Debug/net6.0/refint/lab03-.dll
lab03-Ejercicio3/obj/lab03-.csproj.nuget.dgspec.json
lab03-Ejercicio3/obj/lab03-.csproj.nuget.g.props
lab03-Ejercicio3/obj/lab03-.csproj.nuget.g.targets
lab03-Ejercicio3/obj/project.assets.json
lab03-Ejercicio3/obj/project.nuget.cache
